<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="relative">
        {{#if isAdmin }}
            {{> sidebar}}
            {{{body}}}
        {{else}}
            {{>header}}
            {{{body}}}
            {{>footer}}
        {{/if}}
        {{!-- js --}}
        {{#if isAdmin }}
            <script src="/javascripts/admin/{{{js}}}.js"></script>
        {{else}}
            <script src="/javascripts/{{{js}}}.js"></script>
            <script src="/javascripts/index.js"></script>
        {{/if}}
        
</body>
</html>